*{
    font-family: "Outfit", sans-serif;
}
.logo {
    width: 40px;
}
.navbar-brand.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-brand.logo img {
    height: 40px;
    width: auto;
}

.navbar-brand.logo h1 {
    margin: 0;
    font-size: 1.5rem;
}

.navbar-brand.logo i {
    font-size: 1.5rem;
}