*{
    font-family: "Outfit", sans-serif;
}
.logo {
    width: 40px;
}
.navbar-brand.logo {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre elementos */
}

.navbar-brand.logo img {
    height: 40px; /* Ajusta según necesites */
    width: auto;
}

.navbar-brand.logo h1 {
    margin: 0; /* Elimina márgenes del h1 */
    font-size: 1.5rem; /* Ajusta el tamaño si es necesario */
}

.navbar-brand.logo i {
    font-size: 1.5rem; /* Ajusta el tamaño del ícono */
}